@model IEnumerable<DoeVidaWeb.ViewModels.AgendamentoViewModel>

@{
    ViewData["Title"] = "Agendamentos";
}

<div id="main">
    <div id="header-action">
        <div id="search">
            <input placeholder="Digite o nome de um doador que deseja buscar"
                   type="text" name="search" id="input-search" />
            <i class="fas fa-search"></i>
        </div>
        <a asp-action="Create" id="button-new">Novo agendamento</a>
    </div>
    <table class="table">
        <thead>
            <tr >
                <th style="width: 33%;">Nome</th>
                
                <th style="width: 33%; text-align: center;">Data de atendimento / Horário</th>

                <th style="text-align: center;">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 33%;">
                        @Html.DisplayFor(modelItem => item.NomePessoa)
                    </td>
                    <td style="width: 33%; text-align: center;">
                        <span style="margin-right: 47px;">
                            @Html.DisplayFor(modelItem => item.Data)
                        </span>
                        <span>
                            @Html.DisplayFor(modelItem => item.HorarioAgendamento)
                        </span>
                    </td>
                    <td style="text-align: center;" id="actions">
                        <a class="icon-action" href="Agendamento/Details/@item.IdAgendamento"><i class="fas fa-eye icon-action"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
